* {
  padding: 0;
  margin: 0;
}
.app {
  background-color: #dad6d6;
}
.app__header {
  /* padding: 12px; */
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__headerImage {
  margin-left: 160px;
  margin-top: 10px;
}

.app__posts {
  justify-content: center;
  /* margin-left: 100px; */
  /* padding-right: 50px; */
  /* margin-right: 40px; */
  display: flex;
}

.header__input input {
  outline: none;
  border: 1px solid lightgray;
  width: 150px;
  padding: 6px;
  border-radius: 3px;
  background-color: #fafafa;
  text-align: center;
  text-transform: capitalize;
  object-fit: contain;
}

.header__icons {
  object-fit: contain;
}

/* @media (max-width: 400px) {
  .header__input input {
    width: 100%;
    visibility: hidden;
  }
} */

.stories {
  background-color: white;
}

.story__icons {
  display: flex;
  justify-content: center;
  padding: 12px;
  min-width: 400px;
  max-width: 900px;
  margin-top: 7px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.story__icons::-webkit-scrollbar {
  display: none;
}
