.login {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
.login__container > button {
  cursor: pointer;
  padding: 13px;
  text-transform: inherit !important;
  margin-top: 30px;
  background-color: #fd1d1d !important;
  color: white;
  font-size: 24px;
  border-radius: 14px;
}
.login__container > img {
  cursor: pointer;
  padding: 13px;
  width: 300px;
}
